/* index.css or App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
}
.swiper-slide {
  transform: scale(0.95);
  transition: all 0.2s ease-out;
}


/* .menu-card.active {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 5;
} */

/* Example classes if you want to apply them selectively */
.fredoka {
  font-family: 'Fredoka One', cursive;
}

.fugaz {
  font-family: 'Fugaz One', cursive;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.epilogue {
  font-family: 'Epilogue', sans-serif;
}
