/* index.css or App.css */
body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
}

/* Example classes if you want to apply them selectively */
.fredoka {
  font-family: 'Fredoka One', cursive;
}

.fugaz {
  font-family: 'Fugaz One', cursive;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.epilogue {
  font-family: 'Epilogue', sans-serif;
}
