.login-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.login-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(2px); 
  z-index: 0;
}





.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 5vw;
  /* background-color: #fff; */
  z-index: 2;
}



.input-group input {
  width: 100%;
  max-width: 340px;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 0.5rem 0 1rem;
  width: 100%;
  max-width: 400px;
}

.login-button {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem;
  border: none;
  border-radius: 25px;
  background-color: #F3274C;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.social-login {
  text-align: center;
  margin-bottom: 1rem;
}
.password-input-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.social-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* .social-btn:hover {
  transform: scale(1.1);
} */

.register-link {
  text-align: center;
  font-size: 0.9rem;
}

.signup-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 0.3rem;
}



/* .img{
  width:100%;
  height:100vh;
} */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
    margin: 0;
  }
  .input-group input {
     width: 100%;
  max-width: 270px;
  }

  .login-right {
    display: none;
  }

  .login-left {
    padding: 2rem;
    
  }
}
